{% extends 'base.html' %}{% load static %}
{% block title %}{{ object }}{% endblock %}
{% block header %}
    <h1 class="page-header" id="timer-title"></h1>
{% endblock %}
{% block content %}
    <div id="content-wrapper" data-get-url="{% url 'get_timer' object.pk %}">
        <div id="timer-container"></div>
    </div>
    <h2>{{ object.name }}</h2>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
    <script src="{% static 'timers/TimeCircles.js' %}" type="text/javascript"></script>
    <script src="{% static 'timers/room_detail.js' %}" type="text/javascript"></script>
{% endblock %}
