{% extends 'base.html' %}

{% block title %}Залы{% endblock %}

{% block header %}
    <h1>Выберите комнату</h1>
{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-lg-8 col-sm-10">
            <div class="well well-lg">
                <div class="list-group">
                {% for object in object_list %}
                    <a href="{% url 'room_detail' object.pk %}" class="list-group-item">{{ object }}</a>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
