/**
 *	This element is created inside your target element
 *	It is used so that your own element will not need to be altered
 **/
@font-face {
font-family: 'DIN Pro Regular';
src: url('../fonts/DINPro.eot');
src: url('../fonts/DINPro.eot?#iefix') format('embedded-opentype'),
url('../fonts/DINPro.woff') format('woff'),
url('../fonts/DINPro.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

.time_circles {
    position: relative;
    width: 100%;
    height: 100%;
}

/**
 *	This is all the elements used to house all text used
 * in time circles
 **/
.time_circles > div {
    position: absolute;
    text-align: center;
}

/**
 *	Titles (Days, Hours, etc)
 **/
.time_circles > div > h4 {
    margin: 0;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Century Gothic', Arial;
    line-height: 1;
}

/**
 *	Time numbers, ie: 12
 **/
.time_circles > div > span {
    margin: 0;
    padding: 0;
    display: block;
    width: 100%;
    text-align: center;
    font-family: 'Century Gothic', Arial;
    line-height: 1;
    font-weight: bold;
}
.header {
    position: relative;
    background: #252527 2em center no-repeat;
    height: 9rem;
}
.header h1 {
    padding-top: 2.5rem;
}
.header .home-url {
    position: absolute;
    left: 2rem;
}
body {
    background: rgb(0, 141, 178);
    color: #fff;
    font-family: 'DIN Pro Regular';
}