{% load static %}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header class="header text-center align-middle">
{#        <a class="home-url" href="{% url 'home' %}"><img src="{% static 'img/back_to_home.png' %}" /></a>#}
        {% block header %}{% endblock %}
    </header>
    <section id="content" class="mx-auto text-center">
        {% block content %}{% endblock %}
    </section>
</body>
</html>
